.nav-container {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    height: 60px;
    color: rgb(157, 156, 156);
    font-weight: bolder;
    font-size: 22px;
    padding: 0 20px;
  }
  
  .nav-content {
    display: flex;
    gap: 20px;
    list-style-type: none;
  }
  
  .nav-content li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    width: 80px;
    height: 60px;
  }
  .nav-active {
    color: rgb(5, 5, 115);
    font-weight: bold;
    border-bottom: 5px solid rgb(5, 5, 115);
    border-radius: 2px;
  }
  
  .nav-hr {
    background-color: rgb(5, 5, 115);
    width: 50px;
    height: 5px;
  }
  
  .nav-user-container {
    display: flex;
    align-items: center;
    /* width: 100%; */
  }
  
  .nav-user-container p {
    margin-right: 10px;
  
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 60px;
  }